HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

ProjectPlans.txt
src/main/resources/application.yml
CreateTables.sql
src/main/resources/static/parser/
src/main/java/com/example/ProjectsShowcase/controllers/AdminController.java
src/main/java/com/example/ProjectsShowcase/services/Parser.java