<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>

    <link rel="stylesheet" href="styles\basic.css">
    <link rel="stylesheet" href="styles\profile_popup.css">
    <link rel="stylesheet" href="styles\profile_info.css">
    <link rel="stylesheet" href="styles\projects_search.css">
    <link rel="stylesheet" href="styles\project_card.css">
</head>

<body>
    <header class="center-y" style="margin-bottom: 0;">
        <img id="showcase-button" src="images\Miit_Icons.png" style="margin: 5px 0 5px 10px; cursor: pointer;">
        <img id="profile-button" src="images\Profile_Icon.png">
    </header>

    <div id="profile" class="title-page-header">
        <div class="profile-info-content" style="margin-bottom: 40px;">
            <div class="profile-info-additional-text-section">
                <div class="section-text">ФИО</div>
                <div id="name"></div>
            </div>

            <div class="profile-info-additional-text-section">
                <div class="section-text">Номер телефона</div>
                <div id="phone"></div>
            </div>

            <div class="profile-info-additional-text-section">
                <div class="section-text">Должность</div>
                <div id="role"></div>
            </div>

            <div class="profile-info-additional-text-section">
                <div class="section-text">Рабочая почта</div>
                <div id="mail"></div>
            </div>
            
        </div>

        <div id="team_section" class="team-section" style="display: none;">
            <div class="team-info-additional-text-section">
                <div class="section-text">Команда</div>
                <div id="team"></div>
            </div>
        </div>
    </div>

    <div id="projects-list" class="projects-header">
        <div class="header-grid">
            <div class="header-name">Мои проекты:</div>

            <div class="center-y">
                <input type="text" id="searchInput" placeholder="Поиск по названию">
            </div>

            <div class="header-filter">
                <div class="center-y parent_filter">
                    <div class="checkbox-container" id="checkboxContainer"></div>

                    <img src="images\Filter_Icon.png" alt="Фильтр" id="toggleCheckboxes">
                </div>
            </div>
        </div>
    </div>

    <div class="parent_projects" id="projects"></div>

    <div id="profilePopup" class="popup">
        <div id="profilePopupButtons"></div>
    </div>

    <script src="scripts\DisplayUserInfo.js"></script>
    <script src="scripts\DisplayRoleInfo.js"></script>
    <script src="scripts\DisplayTeamProjectsList.js"></script>
</body>

</html>