<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Проект</title>

    <link rel="stylesheet" href="..\..\styles\basic.css">
    <link rel="stylesheet" href="..\..\styles\profile_popup.css">
</head>
<body>
    <header class="center-y">
        <img id="showcase-button" src="..\..\images\Miit_Icons.png" style="margin: 5px 0 5px 10px; cursor: pointer;">
        <img id="profile-button" src="..\..\images\Profile_Icon.png">
    </header>

    <div style="margin: 10px 5% 10px 10%; border-bottom: 2px solid rgb(161, 161, 161);">
        <div style="font-size: 50px;">Витрина проектной деятельности</div>

        <div style="display: grid; grid-template-columns: 20% 80%; margin-top: 30px; font-size: 1vw; word-wrap: break-word;">
            <div style="color: rgb(129, 129, 129); margin-bottom: 15px;">Статус</div>
            <div style="margin-bottom: 15px;">Свободно</div>

            <div style="color: rgb(129, 129, 129); margin-bottom: 15px;">Тип проекта</div>
            <div style="margin-bottom: 15px;">Учебно-прикладной проект</div>

            <div style="color: rgb(129, 129, 129); margin-bottom: 15px;">Кафедра</div>
            <div style="margin-bottom: 15px;">Свободно</div>

            <div style="color: rgb(129, 129, 129); margin-bottom: 15px;">Цель проекта</div>
            <div style="margin-bottom: 15px;">хочет создать безбарьерную транспортную среду "Один проездной на весь транспорт"</div>

            <div style="color: rgb(129, 129, 129); margin-bottom: 15px;">Барьер проекта</div>
            <div style="margin-bottom: 15px;">но не может из-за недостаточного опыта в планировании эксплуатационной работы в условиях критического дефицита тяговых средств (без возможности их закупки)Учебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проектУчебно-прикладной проект</div>

            <div style="color: rgb(129, 129, 129); margin-bottom: 15px;">Существующие решения</div>
            <div style="margin-bottom: 15px;">а существующие решения по переутверждению НГДП не подходят по причине нарушения выполнения социальной функции железнодорожным транспортом на уровне государства.</div>

            <div style="color: rgb(129, 129, 129); margin-bottom: 15px;">Носитель проекта</div>
            <div style="margin-bottom: 15px;">Свободно</div>
        </div>
    </div>

    <div style="display: flex; width: 100%; justify-content: right;">
        <button class="yellow-button" style=" margin: 0; margin-right: 5%; font-size: larger; padding: 20px;">Забронировать</button>
    </div>

    <div id="profilePopup" class="popup">
        <div id="profilePopupButtons"></div>
    </div>

    <script src="..\..\scripts\DisplayProjectInfo.js"></script>
    <script src="..\..\scripts\DisplayProfileSection.js"></script>
</body>
</html>