<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title id="title">Проект</title>

    <link rel="stylesheet" href="..\..\styles\basic.css">
    <link rel="stylesheet" href="..\..\styles\profile_popup.css">
    <link rel="stylesheet" href="..\..\styles\project_info.css">
</head>
<body>
    <header class="center-y">
        <img id="showcase-button" src="..\..\images\Miit_Icons.png" style="margin: 5px 0 5px 10px; cursor: pointer;">
        <img id="profile-button" src="..\..\images\Profile_Icon.png">
    </header>

    <div class="project-info-parent">
        <div id="name" style="font-size: 50px;"></div>

        <div class="project-info-content">
            <div class="project-info-addition info-block">Статус</div>
            <div id="status" class="info-block"></div>

            <div class="project-info-addition info-block">Тип проекта</div>
            <div id="type" class="info-block"></div>

            <div class="project-info-addition info-block">Кафедра</div>
            <div id="department" class="info-block"></div>

            <div class="project-info-addition info-block">Цель проекта</div>
            <div id="goal" class="info-block"></div>

            <div class="project-info-addition info-block">Барьер проекта</div>
            <div id="barrier" class="info-block"></div>

            <div class="project-info-addition info-block">Существующие решения</div>
            <div id="decisions" class="info-block"></div>

            <div class="project-info-addition info-block">Носитель проекта</div>
            <div id="customer" class="info-block"></div>
        </div>
    </div>

    <div id="buttons_section" class="buttons-section"></div>

    <div id="profilePopup" class="popup">
        <div id="profilePopupButtons"></div>
    </div>

    <script src="..\..\scripts\DisplayProjectInfo.js"></script>
    <script src="..\..\scripts\DisplayProfileSection.js"></script>
</body>
</html>