.profile-info-parent {
    background-color: white;
    border-bottom: 3px solid #1b365d;
    height: 200px;
    font-size: 25px;
}

.profile-info-content {
    width: 60%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.profile-info-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.profile-info-additional-text-section {
    display: grid;
    grid-template-rows: 50% 50%;
}

.section-text {
    font-size: 15px;
    color: rgb(129, 129, 129);
    display: flex;
    align-items: flex-end;
}