.profile-info-content {
    width: 60%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.profile-info-additional-text-section {
    display: grid;
    grid-template-rows: 50% 50%;
    margin-top: 40px;
}

.section-text {
    font-size: 15px;
    color: rgb(129, 129, 129);
    display: flex;
    align-items: flex-end;
}

.team-section {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.team-info-additional-text-section {
    display: grid;
    grid-template-rows: 50% 50%;
}

#team {
    cursor: pointer;
}