.search-section {
    display: grid;
    width: 100%;
    grid-template-columns: 30% auto 30%;
    margin: 0;
    height: 70px;
}

.parent_filter {
    flex-wrap: wrap;
    justify-content: left;
}

#toggleCheckboxes {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.checkbox-container {
    display: none;
    margin-right: 10px;
}

#searchInput {
    margin: 0 auto;
    flex-grow: 1;
    max-width: 60%;
    padding: 10px;
    height: 20px;
}

.projects-header {
    display: flex;
    width: 60%;
    margin: 0 auto;  
    height: 70px;
}

.header-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 0.5fr 1.35fr 0.65fr;
    align-items: center;
}

.header-name {
    font-size: 25px;
}
.header-filter {
    justify-self: right;
}