.parent_projects { 
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 0;
}

.content {
    width: 200px;
    height: 350px;
    padding: 20px 30px 0px 30px;
    margin-right: 30px;
    margin-top: 20px;
    transition: 0.3s all;
    border: 1px solid silver;
    background-color: white;
}

.content:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px;
    cursor: pointer;
}

.card-info {
    display: grid;
    grid-template-rows: 80px auto auto 145px auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-section {
    list-style-type: none;
    margin-bottom: 15px;
}

.header_text {
    font-size: large;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description_text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}